*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    color: white;
}

/* ändrar utseendet på nav menyn */
header{
    background-color: rgb(91, 4, 4);
    display: flex;
    justify-content: space-around;
    align-items: center;
    justify-items: center;
    font-size: large;
}


.nav-item{
    list-style: none;
    
}

/* tar bort linjen under länkarna och ändrar färg */
a{
    color: white;
    text-decoration: none;
}

/* ändrar utseendet på listan */
.navbar{
    min-height: 70px;
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 0 24px;
}

.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 90px;
}

h1{
    font-size: 2rem;

}

.nav-link:hover{
    color: gray;
}

/* gömmer hamburger menyn när skärmen är mer än 910 pixlar bred */
.hamburger{
    display: none;
    cursor: pointer;
}

/* skapar linjerna för hamburger menyn */
.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: white;
}



section{
    align-self: center;
    justify-self: center;
    max-height: 400px;
    max-width: 850px;
    margin-top: 2%;
}


.stadium{
    width: 100%;
    height: 100%;
    border: 2px;
    border-radius: 5%;
}

/* ändrar utseendet på huvud texten */
article{
    background-color: #504E4E;
    justify-self: center;
    width: 36%;
    border-radius: 20px;
    margin-top: 3%;
    padding: 1%;
    line-height: 0.7cm;
}

article ul li{
    line-height: 40px;
    list-style-position: inside;
    margin: 0;
    padding-left: 10px;
    line-height: 0.7cm;
}

/* ändrar utseendet på sid foten */
footer{
    background-color: rgb(91, 4, 4);
    margin-top: 3%;
    padding: 2%;
    justify-items: center;
    font-size: 13px;
    color: rgba(159, 159, 159, 0.989);
    width: 100%;
}


footer div{
    width: 100%;
    display: flex;
    gap: 5%;
    justify-content: center;
}


footer p{
    margin: 20px;
}

/* ändrar utseendet på sidan när bredden är 910 pixlar eller mindre (mobil vesion)*/
@media all and (max-width: 910px){
   
   .hamburger{
    display: block;
    align-content: center;
   }

   header{
    justify-content: space-between;
   }

   .hamburger.active .bar:nth-child(2){
    opacity: 0;
   }
   .hamburger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
   }
   .hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
   }

   .navimg{
    display: none;
   }

   /* gömmer listan på länkar och gör en anmiation när man klickar på hamburger menyn */
   .nav-menu{
    position: fixed;
    right: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: rgb(91, 4, 4);
    width: 100%;
    text-align: center;
    transition: 0.3s;
   }

   .nav-item{
    margin: 16px 0 ;
   }

   .nav-menu.active{
    right: 0;
   }

}